html {
  box-sizing: border-box;
  font-family: $font-lato;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hidden {
  display: none;
}

body {
  background-image: url(../images/test-background.png);
}
