// HELPERS
@import "./helpers/variables.scss";
@import "./helpers/placeholders.scss";

@import "./base.scss";

// COMPONENTS
@import "./components/container.scss";
@import "./components/forecast.scss";
@import "./components/forecast-info.scss";
@import "./components/current-weather.scss";
@import "./components/buttons.scss";
@import "./components/date-info.scss";
@import "./components/search.scss";
@import "./components/modal.scss";
@import "./components/toggle.scss";
