<li class="search-location__slider-sityItem js-sityItem">
  <p class="search-location__slider-sityName">{{this}}</p>
  <button type="button" class="search-location__slider-btnRemove remove" id="js-btnRemove"></button>
</li>
