<form class="modal">
  <h2 class="modal__confirm">Are you sure you want to remove this city from your favorites?</h2>
  <div class="modal__confirm-btn">
    <button type="button" class="confirm-btn-yes">Yes</button>
    <button type="button" class="confirm-btn-no">No</button>
  </div>
</form>