// FONT
$font-lato: Lato, sans-serif;

//COLORS
$primary-white-color: #fff;
$primary-active-color: #ff6b08;
$primary-background-color: #102136ee;
$primary-shadow-color: rgba(16, 33, 54, 0.8);
$secondary-white-color: rgba(255, 255, 255, 0.2);
