.forecast-wrap {
  text-align: center;
}

.city-name {
  display: none;
  color: $primary-white-color;
  font-family: $font-lato;
  font-size: 28px;
  font-weight: 700;
}

.forecast {
  padding: 34px 15px 1px;
  font-family: $font-lato;
  color: $primary-white-color;
  box-shadow: 0 8px 43px $primary-shadow-color;
  border-radius: 35px;
  background-color: $primary-background-color;
  text-align: center;

  &__days {
    margin: 0 auto;
    width: 226px;
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 18px;
    overflow: hidden;
  }

  &__days-item {
    width: 75px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 25px;
    }

    & * {
      pointer-events: none;
    }
  }

  &__city-name {
    margin-bottom: 22px;
    font-size: 18px;
    font-weight: 700;
  }

  &__day-name {
    margin-bottom: 18px;
    opacity: 0.54;
    font-size: 12px;
    font-weight: 400;

    &--active {
      opacity: 1;
      color: $primary-active-color;
    }
  }

  &__date {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 400;
  }

  &__icon {
    margin: 0 auto;
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
  }

  //   EXTREMUM

  &__extremum-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__extremum {
    &:first-of-type {
      padding-right: 5px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    &:last-of-type {
      padding-left: 4px;
    }
  }

  &__extremum-title {
    opacity: 0.54;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  }

  &__extremum-value {
    color: $primary-active-color;
    font-size: 16px;
    font-weight: 700;

    &::after {
      content: "\00B0";
      padding-left: 2px;
    }
  }

  //   ARROW

  &__arrow-warp {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 18px;
    width: 58px;
  }

  &__btn {
    padding: 10px;
    position: relative;
    color: $primary-white-color;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &--left::before,
    &--right::before {
      content: "";
      display: inline-block;
      width: 6px;
      height: 6px;
      border-left: 1px solid #fff;
      border-top: 1px solid #fff;
      position: absolute;
      top: 50%;
    }

    &--left::before {
      right: 45%;
      transform: translate(50%, -50%) rotate(-45deg);
    }

    &--right::before {
      left: 45%;
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
}

// MEDIA
@media (min-width: 768px) {
  .city-name {
    display: block;
    margin-bottom: 28px;
  }

  .forecast {
    &__days {
      padding: 0 50px;
      margin-bottom: 34px;
      width: 100%;
      justify-content: space-between;
    }

    &__days-item {
      width: auto;
    }

    &__city-name {
      display: none;
    }

    &__day-name {
      font-size: 14px;
    }

    &__date {
      font-size: 18px;
    }

    &__extremum {
      &:first-of-type {
        padding-right: 11px;
      }
    }

    &__extremum-title {
      font-size: 14px;
    }

    &__extremum-value {
      font-size: 18px;
    }

    &__arrow-warp {
      display: none;
    }
  }
}

@media screen and (min-width: 1120px) {
  .forecast {
    &__days {
      padding: 0 116px;
    }

    &__day-name {
      font-size: 18px;
    }

    &__date {
      font-size: 25px;
    }

    &__extremum {
      &:first-of-type {
        padding-right: 6px;
      }
    }

    &__extremum-title {
      font-size: 18px;
    }

    &__extremum-value {
      font-size: 25px;
    }
  }
}
