.quote {
    margin-left: 95px;
    margin-top: 40px;
	width: 204px;
	height: 97px;
    text-align: end;

    &__decor {
        margin-top: 0;
        margin: 0;
        height: 21px;
        opacity: 0.2;
        color: $primary-white-color;
        font-family: "Arial MT";
        font-size: 90px;
        font-weight: 400;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 0;
        margin: 0;
        color: $primary-white-color;
        font-family: $font-lato;
        font-style: italic;
        font-size: 14px;
        letter-spacing: 0.42px;
    }

    &__author {
        margin-top: 0;
        margin: 0;
        height: 13px;
        color: $primary-white-color;
        font-family: $font-lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0.54px;
    }
}

@media (min-width: 768px) {

    .quote {
        width: 375px;
        height: 153px;
        margin-left: 236px;
    
        &__decor {
            height: 47px;
            opacity: 0.2;
            font-family: "Arial MT";
            font-size: 175px;
            font-weight: 400;
            text-transform: uppercase;
        }

        &__text {
            width: 375px;
            font-size: 22px;
            line-height: 28px;
            letter-spacing: 0.56px;
    
        }

        &__author {
            margin-top: 10px;
            height: 13px;
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0.54px;
        }
    }
}

@media screen and (min-width: 1120px) {
   
    .quote {
        margin: 0;
        margin-right: 110px;    
    }   
}
      